{% extends 'base.html.twig' %}
{% block title %}
    Creer un nouveau véhicule | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {{ form_start(vehicleForm) }}
        {{ form_widget(vehicleForm) }}
        <button>ajouter le véhicule</button>
        {{ form_end(vehicleForm) }}
    </div>
{% endblock %}