{% block body %}
    <h2>{{ vehicle.brand }}</h2>
    Marque du véhicule : {{ vehicle.brand }} <br>
    Modèle du véhicule : {{ vehicle.model}} <br>
    Nombre de places : {{ vehicle.nbPlaces }} <br>
{% endblock %}

